::selection {
  background-color: #e47073;
  color: #fff;
}

.newForm {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.newForm-left {
  height: 100%;
  width: 50%;
  padding: 5%;
}

.newForm-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}

form h1 {
  color: #fff;
  letter-spacing: 1vw;
  font-size: 2vw;
  /* background: rgba(38, 38, 49, 0.5);
  backdrop-filter: saturate(180%) blur(2px); */
  padding: 5px 10px;
}

form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 10%;
}

form input {
  outline: none;
  border: none;
  padding: 0 10px;
  font-weight: 600;
  color: #fff;
  font-weight: 100;
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(62, 65, 59);
  /* background: rgba(38, 38, 49, 0.5);
  backdrop-filter: saturate(180%) blur(2px); */
}

form input::placeholder {
  color: #fff;
}

form input:nth-child(5) {
  min-height: 50%;
}

form input:focus {
  outline: 1px solid #dadada;
  border: none;
}

form button {
  padding: 10px 20px;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  font-weight: 600;
  background-color: rgba(38, 38, 49, 0.5);
  color: #fff;
}

form button:hover {
  background-color: #5283378a;
  color: #fff;
  letter-spacing: 2px;
  border: 1px solid #367e2e;
}

.form-control {
  background-color: rgb(62, 65, 59) !important;
  color: #fff;
  height: 100% !important;
  width: 100% !important;
  outline: none !important;
}

.react-tel-input {
  outline: none !important;
  border: none !important;
  font-weight: 600 !important;
  color: #fff !important;
  font-weight: 100 !important;
  width: 100% !important;
  background-color: rgb(62, 65, 59) !important;
}

.flag-dropdown {
  background-color: rgb(62, 65, 59) !important;
  color: #232323;
  font-weight: 600;
}
