/* TOP PART */

.trip-top {
  height: 100vh;
  width: 100%;
}

.trip-top video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.trip-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(217, 217, 217);
}

.trip-top-text h1 {
  font-size: 10vw;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* TRIP MID */

.trip-mid {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-mid-left {
  height: 100%;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10%;
  padding-right: 0;
}

.trip-mid-left h1 {
  border-bottom: 1px solid #e47073;
  padding-bottom: 5px;
}

.trip-mid-left p {
  max-width: 80%;
  font-weight: 600;
}

.trip-mid-left button {
  padding: 1% 2%;
  background-color: #e47073;
  color: #fff;
  border: 1px solid #232323;
  border-radius: 5px;
  font-size: 150%;
}

.trip-mid-right {
  height: 100%;
  width: 50%;
  background-color: #fff;
  padding: 10%;
  padding-left: 0;
}

.trip-mid-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 675px) {
  .trip-mid {
    flex-direction: column;
  }

  .trip-mid-left,
  .trip-mid-right {
    width: 100%;
  }
}
