/* TOP PART */

.trip-top {
  height: 100vh;
  width: 100%;
  position: relative;
}

.trip-top video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.trip-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(217, 217, 217);
}

.trip-top-text h1 {
  font-size: 10vw;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* TRIP MID */

.trip-mid {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-mid-left {
  height: 100%;
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10%;
  padding-right: 0;
}

.trip-mid-left h1 {
  border-bottom: 1px solid #e47073;
  padding-bottom: 5px;
}

.trip-mid-left p {
  max-width: 80%;
  font-weight: 600;
}

.trip-mid-left button {
  padding: 1% 2%;
  background-color: #e47073;
  color: #fff;
  border: 1px solid #232323;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.trip-mid-left button:hover {
  background-color: #e73a3f;
}

.trip-mid-right {
  height: 100%;
  width: 50%;
  background-color: #fff;
  padding: 10%;
  padding-left: 0;
}

.trip-mid-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 675px) {
  .trip-mid {
    flex-direction: column;
  }

  .trip-mid-left,
  .trip-mid-right {
    width: 100%;
    padding: 10%;
  }
}

/* TRIP BOTTOM */

.trip-bottom {
  height: 60vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.trip-card {
  height: 50vh;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #232323;
  position: relative;
}

.trip-card-img {
  height: 90%;
  width: 100%;
}

.trip-card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.trip-card h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  padding: 2%;
}

.trip-card-film {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 5000s;
  pointer-events: none;
}

.trip-card:hover .trip-card-film {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  bottom: 0;
}

@media screen and (max-width: 686px) {
  .trip-bottom {
    height: 100vh;
  }
  .trip-card {
    margin-top: 40%;
    height: 250px;
  }
}

@media screen and (max-width: 375px) {
  .trip-card {
    margin-top: 70%;
    height: 30vh;
  }
}
