/* TOP SECTION */

.event {
  padding-left: 10vw;
  height: 100vh;
  width: 100%;
  background-color: #000c14;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1589519160732-57fc498494f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
}

.event h2 {
  font-weight: 100;
  margin-bottom: -1vh;
}

.event p {
  margin: 8vh 0;
  max-width: 300px;
}

.event button {
  padding: 2vh 2vw;
  background-color: #ff4646;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* UPCOMING EVENTS */

.upcoming {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #06141e;
  border-top: 0.5px solid transparent;
  padding: 0 20px;
}

.slider-nav {
  margin-top: 5%;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.slider-nav h1 {
  padding-bottom: 5px;
  color: #fff;
  margin-left: 5%;
  font-size: 20px;
  border-bottom: 2px solid #ff4646;
  cursor: pointer;
}

/* CARD */

.ecard {
  border-radius: 5px;
  overflow: hidden;
  background-color: #000c14;
  color: #fff;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.ecard-top {
  height: 40%;
  width: 100%;
  background-color: orange;
}

.ecard-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.ecard-mid {
  height: 45%;
  width: 100%;
  /* background-color: green; */
  padding: 2%;
}

.ecard-mid small {
  font-weight: 100;
  font-size: 10px;
  opacity: 0.7;
}

.ecard-bottom {
  border-top: 1px dotted #fff;
  height: 15%;
  width: 100%;
  /* background-color: red; */
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ecard-bottom i {
  color: #ff4646;
}

/* SLIDESHOW */

.slideShow {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 12, 20);
  padding: 1% 10%;
}

.slideShow-img {
  height: 80%;
  width: 80%;
  background-color: orange;
}

.slideShow-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 480px) {
  .slideShow {
    height: 40vh;
    background-color: #06141e;
    padding: 1%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .slideShow-img {
    width: 100%;
  } */
}
