* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.country {
  width: 100%;
  /* position: relative; */
  /* position: fixed; */
  height: 530px;
  background-color: white;
}

.country .africa {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  /* position: relative; */
  background-image: url(../Images/Africa.jpg);
  height: 70%;
  justify-content: space-around;

}

.country .africa .item2 {
  /* background-color: aqua; */
  /* position: relative; */
  padding-top: 250px;
}

.country h3 {
  color: white;
  padding-bottom: 6%;
}

.country .africa .item2 a {
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  /* position: relative; */
  /* float: left; */
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin-left: 10%;
}

.country .africa .item2 a:hover {
  color: white;
  background-color: black;
}

.country .africa .africa-item1 {
  margin-left: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .country {
    /* height: 950px; */
  }

  .country .africa {
    display: block;
    width: auto;
    height: 200px;
    margin: 5px;
    margin-bottom: 5px;
  }

  .country .africa .item2 {
    font-size: 10px;
    padding-top: 100px;

  }

  .country .africa .item2 h3 {
    text-align: center;
  }

  .country .africa .item2 a {
    color: white;
    margin-top: 0px;
    padding: 5px;
  }

  .country .africa-item2 {
    display: block;
    /* justify-content: center; */
  }

  .country .africa-items .item1 {
    margin: 5px;
  }

  .country .africa-items {
    /* position:sticky; */
    /* position: relative; */
  }

  .country .africa-items .item1 img {
    width: 150px;
    height: 150px;
  }
}

.country .africa-items {
  padding-top: 2%;
  margin: 2%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

  gap: 4%;
  /* justify-content: space-between; */
  height: 400px;
  bottom: 10px;
}

.country .africa-items .item1 {
  text-decoration: none;
}

.country .africa-items .item1 a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
  list-style: none;
}

.asia {
  margin-top: 100px;
  width: 100%;
  height: 500px;
}

.asia-container {
  margin-left: 5%;
  background-image: url(../Images/Country-Image/Georgia.jpg);
  margin-right: 5%;
  height: 400px;
}

.asia-container .text-item h3 {
  margin-top: 50px;
  color: white;
}

.asia-container .text-item {
  position: relative;
  padding-top: 250px;
}

.asia-container .text-item a {
  /* margin-top: 200px; */
  position: relative;
  top: 80px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  left: -20px;
  margin: 50px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.asia-container .text-item a:hover {
  color: white;
  background-color: black;
}

.asia-continents {
  display: flex;
  flex-wrap: wrap;
 
  text-align: center;
  margin-left: 50px;
  text-decoration: none;
  justify-content: space-between;

}

@media only screen and (min-width: 200px) and (max-width: 767px) {

  .asia {
    /* margin-top: 530px; */
    width: 350px;
    height: 100px;
  }

  .left-arrow {
    display: none;
  }

  .controller {
    display: none;
  }

  .asia .asia-container {
    /* position: relative; */
    height: 200px;
width: 100%;
  }

  .asia-container .text-item {
    position: relative;
    padding-top: 20px;
  }

  .asia-container .text-item h3 {
    position: relative;
    top: 50px;
  }

  .asia .asia-container a {
    /* padding-top: 10px; */
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    position: relative;
    top: 50px;
    left: 10px;
  }
  .asia-continents {
    margin-left: 0px;
  margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
.asia-continents img {
  width: 150px;
  height: 150px;
}
}

.asia-continents .asia-country a {
  text-decoration: none;
  color: black;
}

.asia-continents .asia-country {
  margin: 10px;
}

.asia-continents .hidden-item {
  display: none;
}

.europe {
  margin-top: 10px;
  /* position: relative; */
  width: 90%;
  height: 700px;

  overflow: hidden;
  margin-left: 100px;
  /* left: 200px; */
}

.europe .europe-container {

  background-image: url(../Images/Country-Image/France.jpg);
  margin-right: 5%;
  margin-left: 5%;
  height: 400px;
}

.europe .europe-container h3 {
  position: relative;
  /* top: 200px; */
  /* margin-top: 100px; */
  padding-top: 300px;
  color: white;
}

.europe .europe-container a {
  position: relative;
  top: 80px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  left: -20px;
  margin: 50px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.europe .europe-container a:hover {
  background-color: black;
  color: white;

}


.europe .europe-country {
  /* height: 180px; */
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .europe {
    width: 100%;
    margin: 0px;
    height: 100%;
  }

  .europe .europe-container {

    left: 0px;
    right: 0px;
    width: 350px;
    height: 200px;

  }

  .europe .europe-country {
    display: block;
    flex-wrap: wrap;

  }

  .europe .text-data {
    position: relative;
    font-size: 15px;

    top: -200px;
  }

  .europe .text-data a {
    top: 20px;
    padding: 5px;
    margin: 10px;
  }

  .europe .europe-country {
    position: relative;
    top: -20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  .europe .europe-country img {
    height: 150px;
    width: 160px;
  }
}

.europe .europe-country .country-list a {

  text-decoration: none;
  color: black;
}

.controller {
  position: relative;
}

.controller a {
  position: relative;
  top: 40px;
  text-decoration: none;
  color: rgb(139, 139, 139);
  font-size: 50px;
  right: 70px;
  font-weight: 700;
}