

.vidContainer{
  height: 100vh;
  width: 100%;
  position: relative;
}

.vidContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.vidFilm {
  height: 100%;
  width: 100%;
  position: absolute;
  top : 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vidFilm p{
  max-width: 400px;
  color: #fff;
}

/* container */

.Content {
  background-color: beige;
  height: 400px;
  width: 100%;
}

.Content h1{
  margin : 4% 2%;
}

/* CONTINENT */

.Content .continent {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.continent div{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.continent div a{
  text-decoration: none;
  color: #fff;
  position: absolute;
  z-index: 2;
}

.continent div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter : brightness(50%);
}

/* TRENDING */

.trending {
  margin-top: 2vh;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Trending card */

.trending .tcard{
  height: 100%;
  width: 200px;
  position: relative;

}

.trending .tcard img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(50%);
}

.trending .tcard .tread {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 2;
}

.trending .tcard .tread:hover{
  opacity: 1;
}

.trending .tcard .tread button{
  background-color: transparent;
  border: 1px solid #fff;
  height: 30px;
  width: 90px;
  border-radius: 25px;
  cursor: pointer;
}

.trending .tcard .tread button a{
  text-decoration: none;
  color: #fff;
}

.trending .tcard .tcontent {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
color: #fff;
text-align: center;
}

.trending .tcard .tcontent .cname {
  text-align: end;
}

/* WHAT'S NEXT */

.inseperation {
  margin-top: 2vh;
  height: 70vh;
  width: 100%;
  background-image: url('../Images/next.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color : #fff;
}

.inseperation .itext{
  width: 100%;
  text-align: center;
}

.inseperation .itext .ins{
  font-size: 8vh;
  font-weight: 400;
}

.inseperation .inav{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inseperation .inav div{
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.inseperation .inav div h2{
  font-size: 5vh;
  font-weight: 100;
}

.inseperation .inav div i{
  font-size: 10vh;
}

/* FEATURES AND DESTINATIONS */

.features {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features h1{
  margin-bottom: 10px;
}

.features .fcards{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.features .fcards .fcard {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 5%;
}

.features .fcards .fcard .fimg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.features .fcards .fcard .fimg {
  height: 60%;
  width: 60%;
  background-color: #232323;
}

.features .fcards .fcard button{
  height: 10%;
  width: 80%;
  background-color: transparent;
  border : 1px solid #e15361;
  color: #e15361;
  cursor: pointer;
  border-radius: 25px;
}