.forest-blog {
  width: 100%;
  height: auto;
  /* color: white; */
  /* display: flex; */
}

.forest-blog .forest-blog-2 {
  /* margin: 0% 0% 10% 10%; */
  margin: 0% 10%;
  /* background-color: firebrick; */
  /* justify-content: space-around; */
  display: flex;
  /* width: 100%; */
}

.forest-blog .forest-blog-1 {
  height: 60vh;
  width: 100%;
  background-image: url(../BlogsImage/China.jpg);
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-weight: 400;
}

.forest-blog .forest-blog-1 {
  padding-top: 8%;
}

.forest-blog .forest-blog-1 .blogtext {
  position: relative;
  top: 5%;
  left: 30%;
  /* padding-left: 30%; */
  max-width: 50vh;
}

.forest-blog .forest-blog-1 span {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.forest-blog .forest-blog-2 {
  padding: 3% 0% 0% 0%;
  height: 60vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
}
.forest-blog .forest-blog-2 .forest-text {
  font-size: 2vh;
  text-align: right;
  width: 35%;
}
.forest-blog .forest-blog-2 .forest-img {
  text-align: right;
  height: 25vh;
  width: 35%;
}
.forest-blog .forest-blog-2 h3 {
  color: rgb(217, 38, 190);
  text-transform: uppercase;
}
.forest-blog img {
  height: 37vh;
  width: 86%;
}
.forest-blog .forest-blog-2 .forest-img img {
  border-radius: 10px;
}

.forest-blog .forest-blog-3 {
  background-image: url(../BlogsImage/Mountaine2.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.forest-blog .forest-blog-3 .blog-text-3 {
  width: 60vh;
  top: 5vw;

  left: 70vh;
}

.forest-blog .forest-blog-3 .blog-text-3 h3 {
  text-transform: uppercase;

  color: rgb(205, 10, 240);
}

.forest-blog .forest-blog-4 {
  max-width: 100%;
  display: flex;
  margin: 2% 0% 10% 10%;
  height: 30vh;
  /* height: 400px; */
}

/* 
.forest-blog .forest-blog-2 p {
  max-width: 60vh;
}

.forest-blog .forest-blog-2 {
  height: 30vh;
}

.forest-blog .forest-img {
  max-width: 35vw;
  margin: 5%;
}

.forest-blog .forest-blog-2 .forest-text {
  margin: 3%;
  max-width: 35vw;
}

.forest-blog .forest-blog-2 .forest-text {
  font-size: 18px;
  text-align: right;
  position: relative;
  
}

.forest-blog .forest-blog-2 .forest-text h3 {
  text-transform: uppercase;

  color: rgb(205, 10, 240);
}

.forest-blog .forest-blog .forest-blog-2 .forest-img {
  border-radius: 10px;
  position: relative;
  
}

.forest-blog .forest-blog-2 .forest-img img {
  border-radius: 10px;
} */

.forest-blog .forest-blog-3 {
  background-image: url(../BlogsImage/Mountaine2.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.forest-blog .forest-blog-3 .blog-text-3 {
  width: 60vh;
  top: 5vw;
  position: relative;
  left: 70vh;
}

.forest-blog .forest-blog-3 .blog-text-3 h3 {
  text-transform: uppercase;

  color: rgb(205, 10, 240);
}

.forest-blog .forest-blog-4 {
  max-width: 100%;
  display: flex;
  margin: 2% 0% 10% 10%;
  height: 30vh;
  /* height: 400px; */
}

.culure-blog .forest-blog-4 .forest-img-4 {
  max-width: 35vw;
}

.forest-blog .forest-blog-4 .forest-text-4 {
  max-width: 35vw;
  position: relative;
  left: 8%;
  margin-top: 2%;
  font-size: 18px;
  text-align: justify;
}

.forest-blog .forest-blog-4 .forest-text-4 h3 {
  text-transform: uppercase;
  color: rgb(205, 10, 240);
}

.forest-blog .forest-blog-5 {
  background-image: url(../BlogsImage/Mountaine2.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.forest-blog .forest-blog-5 h3 {
  text-transform: uppercase;

  color: rgb(205, 10, 240);
}

.forest-blog .forest-blog-5 .blog-text-5 {
  width: 60vh;
  top: 5vw;
  position: relative;
  left: 70vh;
}

.forest-blog .forest-blog-6 {
  max-width: 100%;
  display: flex;
  /* margin: 2% 0% 10% 15%; */
  height: 300px;
}

.forest-blog .forest-blog-6 .forest-img-6 {
  width: 35vw;
}

.forest-blog .forest-blog-6 .forest-img-6 img {
  border-radius: 10px;
}

.forest-blog .forest-blog-6 .forest-text-6 {
  max-width: 50vw;
  position: relative;
  /* left: 8%; */
  margin-top: 2%;
  font-size: 18px;
  text-align: right;
}

.forest-blog .forest-blog-6 .forest-text-6 h3 {
  color: rgb(205, 10, 240);
  text-transform: uppercase;
}

.forest-blog .forest-blog-7 {
  background-image: url(../BlogsImage/ForestImage.jpg);
  background-position: center;
  background-size: cover;
  height: 55vh;
}

.forest-blog .forest-blog-7 h3 {
  color: rgb(205, 10, 240);
  text-transform: uppercase;
}

.forest-blog .forest-blog-7 .blog-text-7 {
  width: 60vh;
  top: 5vw;
  position: relative;
  left: 70vh;
}
